<p id="notice"><%= notice %></p>

<div class="row">
  <h2>
    <%= @post.title %>
  </h2>
  <h4>By <%= @post.user.email %></h4>
  <p>
    <%= @post.body %>
  </p>
</div>

<div class="row">
  <h2>Comments</h2>
  <ul class="list-group">
  <% @post.comments.each do |comment| %>
    <li class="list-group-item">
      <p><%= comment.body %></p>
      <p>by <%= comment.user.email%> </p>
    </li>
  <% end %>
  </ul>
</div>





<h2>Add a comment:</h2>
<%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>
  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body, class: "form-control" %>
  </p>
  <div class="actions">
    <%= form.submit class: "btn btn-primary"%>
  </div>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
