<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "PermissionsPrototype" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <% if user_signed_in?%>
          <%= link_to "Hello, #{current_user.email}", root_path, class:"navbar-brand"  %>
        <% else %>
          <%= link_to "Welcome to the blog", root_path, class:"navbar-brand"  %>
        <% end %>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", root_path  %></li>            
            <% if user_signed_in?%>            
            <li><%= link_to "Quit", destroy_user_session_path, method: :delete %></li>
            <% else %>
            <li><%= link_to "Login", new_user_session_path %></li> 
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
        <% if user_signed_in? %>
        <div class="col-lg-3">
          <div class="well sidebar-nav">
            <h3>User Info</h3>
            <ul class="nav nav-list">
              <li class="nav-header"><%= current_user.email%></li>
              <% current_user.assignments.each do |a| %>
                <li><%= a.role.name %></li>
              <% end %>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <% end%>
      </div><!--/row-->

      <footer>
        <p>&copy; Company 2020</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
